.cards{
    width: 1200px;
    max-width: 1280px;
    height: auto;
    display: flex;
    margin-bottom: 75px;
    gap: 113px;
    padding-left: 0;
    list-style: none;
}

@media screen and (min-width: 768px)and (max-width:1024px){}

@media screen and (min-width: 320px) and (max-width:768px){
.cards{
    width: 406px;
    display: flex;
    flex-direction: column;
    gap: unset;
    margin-left: -29px;
    margin-bottom: unset;
}
}