body{
    background-color: #7791e9;
    display: flex;
    justify-content: center;
    width: 1280px;
    max-width: 1280px;
    height: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: sans-serif;
}

@media screen and (min-width: 768px)and (max-width:1024px){}

@media screen and (min-width: 320px) and (max-width:768px){
body{
    max-width: 500px;
    
}


}