footer{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    flex-direction: column;
    background-color: #d9ff86;
    width: 100%;
}

@media screen and (min-width: 768px)and (max-width:1024px){}

@media screen and (min-width: 320px) and (max-width:768px){

}